/* div{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
