.cllrecipe-container {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    margin: 2em 0;
    border-bottom: 1px solid grey;
    box-shadow: 2px 2px 2px gray;
  }
  
  .cllrecipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 1024px) {
    .cllrecipe-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .cllrecipe-grid {
      grid-template-columns: 1fr;
    }
  }