.navbar {
  height: 15vh;
  width: 100vw;
  background-color: rgb(241, 191, 96);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  margin-left: 2rem;
  /* gap: 0.5em; */
}

.navbar .logo {
  display: flex;
  align-items: center;
  height: 75%;
}

.navbar .logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.navbar .text {
  position: relative;
}

.navbar .text h1 {
  font-size: 2rem;
  color: rgb(43, 41, 41);
}

.navbar .text p {
  font-size: 0.75rem;
  color: rgb(43, 41, 41);
  position: absolute;
  top: 50px;
  left: 10px;
}

.navbar .nav-links,
ul {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  margin-right: 2rem;
  gap: 2em;
  font-family: "Roboto Mono", serif;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(43, 41, 41);
}

.active-link {
  color: red; /* Style for the active NavLink */
  font-weight: bold;
  border-bottom: 2px solid red; /* Example of a bottom border for active NavLink */
}


.save{
    display: flex;
    align-items: center;
    position: relative;
}

.save .save-count{
    position: absolute;
    top: -1.1rem;
    right: -0.3rem;
    font-size: 1rem;
}