.section{
    height: 50vh;
    width: 100vw;
    position: relative;
}

.section h1{
    margin-left: 1.5em;
    font-size: 2rem;
}

.section .taste-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

@media only screen and (max-width: 768px) {
    .section h1{
        font-size: 1.8rem;
    }
}